<div *ngIf="!dataSrc" class="grid-spinner-wrapper">
  <div class="spinner">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>

<div [@fadeInOut] *ngIf="dataSrc">

  <mat-toolbar style="background: transparent;" fxLayout="row" fxLayoutAlign="start center">
    <h2 *ngIf="title">
      <i class="fas fa-fw fa-globe-americas"></i>
      <ng-container i18n>
        {{ this.website.getName() }}
      </ng-container>
    </h2>

    <span fxFlex></span>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

  </mat-toolbar>


  <mat-card class="slim">
    <table mat-table [dataSource]="dataSrc" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="path">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>
            Path
          </ng-container>
        </th>
        <td mat-cell *matCellDef="let content" class="monospace"> {{ content.path }} </td>
      </ng-container>

      <ng-container matColumnDef="contentType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>
            Content-type
          </ng-container>
        </th>
        <td mat-cell *matCellDef="let content" class="monospace"> {{ content.contentType }} </td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>
            Size
          </ng-container>
        </th>
        <td mat-cell *matCellDef="let content"> {{ content.size }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="onRowSelection(row)" *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </mat-card>
</div>