table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 25%;
    float: right;
}

.toolbar-button {
    margin: 16px 8px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.download-footer {
    position: sticky;
    width: 100%;
    height: auto;
    bottom: 0;
}

.table-filter {
    float: right;
}