.grid-container {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: minmax(50px, auto);
  justify-items: center;
  align-items: center;
}

.language {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.theme {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}