<h1 mat-dialog-title>
  <i class="fas fa-fw fa-key"></i>
  <ng-container i18n>
    Add Credential
  </ng-container>
</h1>
<div mat-dialog-content align="center">
  <form [formGroup]="addCredential" style="width: 100%;">
    <p>
      <mat-form-field appearance="outline" style="width: 80%;">
        <mat-label>
          <ng-container i18n>Name</ng-container>
        </mat-label>
        <input matInput [formControl]="addCredential.controls['name']" placeholder="">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" style="width: 80%;">
        <mat-label>Select a credential type:</mat-label>
        <mat-select [(value)]="credentialType">
          <mat-option value="{{USER_PASSWORD}}">User/Password</mat-option>
          <mat-option value="{{API_KEY}}">API Key</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p *ngIf="credentialType === USER_PASSWORD">
      <mat-form-field appearance="outline" style="width: 80%;">
        <mat-label>
          <ng-container i18n>User</ng-container>
        </mat-label>
        <input matInput [formControl]="addCredential.controls['user']"  placeholder="">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 80%;">
        <mat-label>
          <ng-container i18n>Password</ng-container>
        </mat-label>
        <input matInput [formControl]="addCredential.controls['password']"  placeholder="">
      </mat-form-field>
    </p>

    <p *ngIf="credentialType === API_KEY">
      <mat-form-field appearance="outline" style="width: 80%;">
        <mat-label>
          <ng-container i18n>API Key</ng-container>
        </mat-label>
        <input matInput [formControl]="addCredential.controls['apiKey']" placeholder="">
      </mat-form-field>
    </p>

  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button [disabled]="!addCredential.valid" color="primary" (click)="complete()">
    &nbsp;&nbsp;
    <i class="fas fa-fw fa-plus"></i>
    <ng-container i18n>
      Add Credential
    </ng-container>
    &nbsp;&nbsp;
  </button>
  <button mat-button (click)="onNoClick()">
    &nbsp;&nbsp;
    <ng-container i18n>Cancel</ng-container>
    &nbsp;&nbsp;
  </button>
</div>