.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: minmax(50px, auto);
    justify-items: center;
    align-items: center;
}

.grid-details {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
}
