<div *ngIf="implantConfig">

  <mat-toolbar fxLayout="row" fxLayoutAlign="start center">

    <button mat-raised-button (click)="back()">
      <i class="fas fa-fw fa-chevron-left"></i>
      <ng-container i18n>
        Back
      </ng-container>
    </button>

    <span fxFlex></span>
    <span>
      <h3>{{ name }}</h3>
    </span>
    <span fxFlex></span>

    <button mat-raised-button color="primary" (click)="regenerate()">
      <i class="fas fa-fw fa-undo-alt"></i>
      <ng-container i18n>
        Regenerate
      </ng-container>
    </button>

  </mat-toolbar>

  
  <div class="grid-wrapper">
    <div class="grid-details">
      <generate-implant-config [implantConfig]="implantConfig">
      </generate-implant-config>
    </div>
  </div>

</div>