<div *ngIf="dataSrc">

  <mat-toolbar style="background: transparent;" fxLayout="row" fxLayoutAlign="start center">

    <h2 *ngIf="title">
      <i class="fas fa-fw fa-key"></i>
      <ng-container i18n>
        Credentials
      </ng-container>
    </h2>

    <span fxFlex></span>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

  </mat-toolbar>

  <mat-card class="slim">
    <table mat-table [dataSource]="dataSrc" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>Name</ng-container>
        </th>
        <td mat-cell *matCellDef="let loot"> {{loot.name}} </td>
      </ng-container>

      <ng-container matColumnDef="credentialType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>Type</ng-container>
        </th>
        <td mat-cell *matCellDef="let loot"> {{credentialTypeToStr(loot.credentialType)}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>User</ng-container>
        </th>
        <td mat-cell *matCellDef="let loot"> {{loot.user}} </td>
      </ng-container>

      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>Password</ng-container>
        </th>
        <td mat-cell *matCellDef="let loot"> {{loot.password}} </td>
      </ng-container>

      <ng-container matColumnDef="apiKey">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>API Key</ng-container>
        </th>
        <td mat-cell *matCellDef="let loot"> {{loot.apiKey}} </td>
      </ng-container>

      <ng-container matColumnDef="uuid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>UUID</ng-container>
        </th>
        <td mat-cell *matCellDef="let loot"> {{loot.uuid}} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let loot">
          <button style="float: right;" mat-button color="warn" (click)="removeLoot($event, loot)">
            <ng-container i18n>
              Delete
            </ng-container>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="onRowSelection(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>