.grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 7fr 1fr;
    grid-template-rows: minmax(50px, auto);
}

.sessions {
    grid-column: 2 / 3;
    // grid-row: 2 / 3;
}

.jobs {
    grid-column: 4 / 5;
    // grid-row: 4 / 5;
}