<div [@fadeInOut]>

  <mat-toolbar>
    <button mat-raised-button class="toolbar-button" (click)="back()">
      <i class="fas fa-fw fa-chevron-left"></i>
      <ng-container i18n>
        Back
      </ng-container>
    </button>
  </mat-toolbar>

  <div class="grid-container">
    <mat-vertical-stepper class="stepper-root" [linear]="true" #stepper>
      <mat-step [stepControl]="selectProtocolForm" [completed]="false">
        <form style="width: 100%;" [formGroup]="selectProtocolForm">
          <ng-template matStepLabel i18n>Protocol</ng-template>
          <p>
            <mat-form-field>
              <mat-select [formControl]="selectProtocolForm.controls['protocol']" placeholder="Protocol">
                <mat-option value="mtls">
                  mTLS
                </mat-option>
                <mat-option value="http">
                  HTTP
                </mat-option>
                <mat-option value="https">
                  HTTPS
                </mat-option>
                <mat-option value="dns">
                  DNS
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <div>
            <button mat-raised-button matStepperNext i18n>
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl] [completed]="false">

        <!-- mTLS -->
        <form *ngIf="protocol === Protocols.mTLS" [formGroup]="mtlsOptionsForm">
          <ng-template matStepLabel>Mutual TLS</ng-template>
          <p>
            <mat-form-field>
              <input matInput type="number" [formControl]="mtlsOptionsForm.controls['lport']" i18n-placeholder
                placeholder="Listen Port">
              <mat-error *ngIf="mtlsOptionsForm.controls['lport'].hasError('outOfRangeError')" i18n>
                Invalid port number
              </mat-error>
              <mat-error *ngIf="mtlsOptionsForm.controls['lport'].hasError('inUseError')" i18n>
                Port in use by another job
              </mat-error>
            </mat-form-field>
          </p>
        </form>

        <!-- HTTP -->
        <form *ngIf="protocol === Protocols.HTTP" [formGroup]="httpOptionsForm">
          <ng-template matStepLabel>HTTP</ng-template>
          <p>
            <mat-form-field>
              <input matInput [formControl]="httpOptionsForm.controls['domain']" i18n-placeholder placeholder="Domain">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label i18n>Website</mat-label>
              <mat-select [formControl]="httpOptionsForm.controls['website']">
                <mat-option value="">
                  None
                </mat-option>
                <mat-option *ngFor="let website of websites" [value]="website.getName()">
                  {{ website.getName() }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput type="number" [formControl]="httpOptionsForm.controls['lport']" i18n-placeholder
                placeholder="Listen Port">
              <mat-error *ngIf="httpOptionsForm.controls['lport'].hasError('outOfRangeError')" i18n>
                Invalid port number
              </mat-error>
              <mat-error *ngIf="httpOptionsForm.controls['lport'].hasError('inUseError')" i18n>
                Port in use by another job
              </mat-error>
            </mat-form-field>
          </p>
        </form>

        <!-- HTTPS -->
        <form *ngIf="protocol === Protocols.HTTPS" [formGroup]="httpsOptionsForm">
          <ng-template matStepLabel>HTTPS</ng-template>
          <div class="grid-https-form">
            <div>
              <p>
                <mat-form-field>
                  <input matInput [formControl]="httpsOptionsForm.controls['domain']" i18n-placeholder
                    placeholder="Domain">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <mat-label i18n>Website</mat-label>
                  <mat-select [formControl]="httpsOptionsForm.controls['website']">
                    <mat-option value="">
                      None
                    </mat-option>
                    <mat-option *ngFor="let website of websites" [value]="website.getName()" i18n-placeholder
                      placeholder="Website">
                      {{ website.getName() }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <input matInput type="number" [formControl]="httpsOptionsForm.controls['lport']"
                    placeholder="Listen Port">
                  <mat-error *ngIf="httpsOptionsForm.controls['lport'].hasError('outOfRangeError')" i18n>
                    Invalid port number
                  </mat-error>
                  <mat-error *ngIf="httpsOptionsForm.controls['lport'].hasError('inUseError')" i18n>
                    Port in use by another job
                  </mat-error>
                </mat-form-field>
              </p>
            </div>
            <div>
              <h3>
                <i class="fas fa-fw fa-lock"></i>
                SSL/TLS Settings
              </h3>
              <p>
                <mat-button-toggle-group [formControl]="httpsOptionsForm.controls['tlsSetting']">
                  <mat-button-toggle [value]="TLSSettings.SelfSigned">
                    Self-signed
                  </mat-button-toggle>
                  <mat-button-toggle [value]="TLSSettings.LetsEncrypt">
                    Let's Encrypt
                  </mat-button-toggle>
                  <mat-button-toggle [value]="TLSSettings.Custom">
                    Custom
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </p>
              <p *ngIf="httpsOptionsForm.controls['tlsSetting'].value === TLSSettings.SelfSigned" i18n>
                The server will generate a self-signed certificate.
              </p>
              <p *ngIf="httpsOptionsForm.controls['tlsSetting'].value === TLSSettings.LetsEncrypt" i18n>
                The server will attempt to automatically provision a certificate from Let's Encrypt.
                Please ensure you have properly configured your DNS records and firewall for HTTP-based
                ACME certificate validation. Check server logs for errors if the certificate is not provisioned.
              </p>
              <p *ngIf="httpsOptionsForm.controls['tlsSetting'].value === TLSSettings.Custom">

                <button mat-raised-button (click)="selectCertificateFile()">
                  <i class="fas fa-fw fa-certificate"></i>&nbsp;
                  <ng-container i18n>Select Certificate File</ng-container>
                </button>
                <br />
                <br />
                <button mat-raised-button (click)="selectKeyFile()">
                  <i class="fas fa-fw fa-key"></i>&nbsp;
                  <ng-container i18n>Select Key File</ng-container>
                </button>

              </p>
            </div>

          </div>
        </form>

        <!-- DNS -->
        <form *ngIf="protocol === Protocols.DNS" [formGroup]="dnsOptionsForm">
          <ng-template matStepLabel>DNS</ng-template>
          <p>
            <mat-form-field>
              <input matInput [formControl]="dnsOptionsForm.controls['domains']" i18n-placeholder placeholder="Domains">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput type="number" [formControl]="dnsOptionsForm.controls['lport']" i18n-placeholder
                placeholder="Listen Port">
              <mat-error *ngIf="!dnsOptionsForm.controls['lport'].valid" i18n>
                Invalid port number
              </mat-error>
            </mat-form-field>
          </p>
        </form>

        <button mat-raised-button (click)="startListener()">
          <i class="fas fa-fw fa-server"></i>
          &nbsp;
          <ng-container i18n>Start Listener</ng-container>
        </button>

      </mat-step>

    </mat-vertical-stepper>
  </div>
</div>