<div [@fadeInOut]>

  <mat-toolbar>
    <button mat-raised-button class="toolbar-button" (click)="back()">
      <i class="fas fa-fw fa-chevron-left"></i>
      <ng-container i18n>
        Back
      </ng-container>
    </button>
  </mat-toolbar>

  <div class="grid-container">
    <mat-vertical-stepper class="stepper-root" [linear]="true" #stepper>
      <mat-step [stepControl]="selectProtocolForm" [completed]="false">
        <form style="width: 100%;" [formGroup]="selectProtocolForm">
          <ng-template matStepLabel i18n>Protocol</ng-template>
          <p>
            <mat-form-field>
              <mat-select [formControl]="selectProtocolForm.controls['protocol']" placeholder="Protocol">
                <mat-option value="mtls">
                  mTLS
                </mat-option>
                <mat-option value="http">
                  HTTP
                </mat-option>
                <mat-option value="https">
                  HTTPS
                </mat-option>
                <mat-option value="dns">
                  DNS
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <div>
            <button mat-raised-button matStepperNext i18n>
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl] [completed]="false">

        <form *ngIf="protocol === 'mtls'" [formGroup]="mtlsOptionsForm">
          <ng-template matStepLabel>Mutual TLS</ng-template>
          <p>
            <mat-form-field>
              <input matInput type="number" [formControl]="mtlsOptionsForm.controls['lport']" placeholder="Listen Port">
              <mat-error *ngIf="!mtlsOptionsForm.controls['lport'].valid" i18n>
                Invalid port number
              </mat-error>
            </mat-form-field>
          </p>
        </form>

        <form *ngIf="protocol === 'http'" [formGroup]="httpOptionsForm">
          <ng-template matStepLabel>HTTP</ng-template>
          <p>
            <mat-form-field>
              <input matInput [formControl]="httpOptionsForm.controls['domains']" placeholder="Domains">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput type="number" [formControl]="httpOptionsForm.controls['lport']" placeholder="Listen Port">
              <mat-error *ngIf="!httpOptionsForm.controls['lport'].valid" i18n>
                Invalid port number
              </mat-error>
            </mat-form-field>
          </p>
        </form>

        <form *ngIf="protocol === 'https'" [formGroup]="httpsOptionsForm">
          <ng-template matStepLabel>HTTPS</ng-template>
          <p>
            <mat-form-field>
              <input matInput [formControl]="httpsOptionsForm.controls['domain']" placeholder="Domain">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput type="number" [formControl]="httpsOptionsForm.controls['lport']"
                placeholder="Listen Port">
                <mat-error *ngIf="!httpsOptionsForm.controls['lport'].valid" i18n>
                  Invalid port number
                </mat-error>
            </mat-form-field>
          </p>
        </form>

        <form *ngIf="protocol === 'dns'" [formGroup]="dnsOptionsForm">
          <ng-template matStepLabel>DNS</ng-template>
          <p>
            <mat-form-field>
              <input matInput [formControl]="dnsOptionsForm.controls['domains']" placeholder="Domains">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput type="number" [formControl]="dnsOptionsForm.controls['lport']"
                placeholder="Listen Port">
                <mat-error *ngIf="!dnsOptionsForm.controls['lport'].valid" i18n>
                  Invalid port number
                </mat-error>
            </mat-form-field>
          </p>
        </form>

        <button mat-raised-button (click)="startListener()">
          <i class="fas fa-fw fa-server"></i>
          &nbsp;
          Start Listener
        </button>

      </mat-step>

    </mat-vertical-stepper>
  </div>
</div>