.grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    margin-top: 10px;
}

.stepper-root {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid-https-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}