<div *ngIf="!job" class="grid-spinner-wrapper">
  <div class="spinner">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>

<div [@fadeInOut] *ngIf="job">

  <mat-toolbar fxLayout="row" fxLayoutAlign="start center">

    <button mat-raised-button (click)="back()">
      <i class="fas fa-fw fa-chevron-left"></i>
      Back
    </button>

    <span fxFlex></span>
    <span>
      <h3>
        Job #{{job.getId()}}
      </h3>
    </span>
    <span fxFlex></span>

    <button mat-raised-button color="warn" (click)="stopJob()">
      <i class="fas fa-fw fa-stop"></i>
      Stop Job
    </button>

  </mat-toolbar>

  <div class="grid-wrapper">
    <div class="grid-details">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <i class="fas fa-fw fa-3x fa-flask"></i>
          </div>
          <mat-card-title>
            &nbsp;&nbsp;
            {{ job.getName() }}
          </mat-card-title>
          <mat-card-subtitle class="monospace">
            &nbsp;
            {{ job.getProtocol() }}:{{ job.getPort() }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{ job.getDescription() }}
          {{ job.getDomainsList() }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>