<div [@fadeInOut]>
  <div>
    <mat-toolbar>

      <span>{{ name }}</span>
    
      <button mat-raised-button (click)="executeScript()" i18n>
        <i class="fas fa-fw fa-folder-plus"></i>
        Execute
      </button>

      <span class="toolbar-spacer"></span>

      <span>
        <strong>Last Save:</strong><br />
        {{ lastSave }}
      </span>

    </mat-toolbar>
  </div>
  <div *ngIf="editorOptions">
    <ngx-monaco-editor style="height: 600px" [options]="editorOptions" [(ngModel)]="code" (init)="editorInit($event)">
    </ngx-monaco-editor>
  </div>
</div>