<h1 mat-dialog-title>
  <i class="fas fa-fw fa-file"></i>
  <ng-container i18n>
    Add File
  </ng-container>
</h1>
<div mat-dialog-content align="center">
  <form [formGroup]="addFileForm" style="width: 100%;">

    <p>
      <mat-form-field appearance="outline" class="monospace" style="width: 80%;">
        <mat-label>
          <ng-container i18n>Path</ng-container>
        </mat-label>
        <input matInput [formControl]="addFileForm.controls['path']" placeholder="/">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline"  class="monospace" style="width: 80%;">
        <mat-label>
          <ng-container i18n>Content-type</ng-container>
        </mat-label>
        <input matInput [formControl]="addFileForm.controls['contentType']"
          placeholder="Content-type">
      </mat-form-field>
    </p>

  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button [disabled]="!addFileForm.valid" color="primary" (click)="complete()">
    &nbsp;&nbsp;
    <i class="fas fa-fw fa-plus"></i>
    <ng-container i18n>
      Select File
    </ng-container>
    &nbsp;&nbsp;
  </button>
  <button mat-button (click)="onNoClick()">
    &nbsp;&nbsp;<ng-container i18n>Cancel</ng-container>&nbsp;&nbsp;
  </button>
</div>