<h1 mat-dialog-title align="center">
    <i class="fas fa-fw fa-exclamation-triangle"></i>
    <ng-container i18n>
      Delete Website
    </ng-container>
  </h1>
  <div mat-dialog-content align="center">
    <ng-container i18n>
      Are you sure you want to delete the entire website and all contents?
    </ng-container>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-raised-button color="warn" (click)="complete()">
      &nbsp;&nbsp;<ng-container i18n>Delete</ng-container>&nbsp;&nbsp;
    </button>
    <button mat-button (click)="onNoClick()">
      &nbsp;&nbsp;<ng-container i18n>Cancel</ng-container>&nbsp;&nbsp;
    </button>
  </div>