<generate-create-implant-config *ngIf="!implantConfig" (onImplantConfigEvent)="onImplantConfig($event)">
</generate-create-implant-config>

<div [@fadeInOut] *ngIf="implantConfig" class="grid-wrapper">

  <form [formGroup]="profileForm" class="grid-profile-form">
    <h3>
      <i class="fas fa-fw fa-tractor"></i>&nbsp;
      <ng-container i18n>Profile</ng-container>
    </h3>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>
          <ng-container i18n>Profile Name</ng-container>
        </mat-label>
        <input matInput [formControl]="profileForm.controls['profileName']" i18n-placeholder placeholder="Profile Name">
      </mat-form-field>
    </p>
    <p>
      <button mat-raised-button color="primary" [disabled]="!profileForm.valid" (click)="saveProfile()">
        <ng-container i18n>Save</ng-container>
      </button>
    </p>
  </form>

</div>
