<div *ngIf="!dataSrc" class="grid-spinner-wrapper">
  <div class="spinner">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>

<div [@fadeInOut] *ngIf="dataSrc">

  <mat-toolbar style="background: transparent;" fxLayout="row" fxLayoutAlign="start center">
    <h2 *ngIf="title">
      <i class="fas fa-fw fa-globe-americas"></i>
      <ng-container i18n>
        Websites
      </ng-container>
    </h2>

    <span fxFlex></span>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

  </mat-toolbar>

  <mat-card class="slim">
    <table mat-table [dataSource]="dataSrc" matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>
            Name
          </ng-container>
        </th>
        <td mat-cell *matCellDef="let web"> {{ web.name }} </td>
      </ng-container>

      <ng-container matColumnDef="pages">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ng-container i18n>
            Pages
          </ng-container>
        </th>
        <td mat-cell *matCellDef="let web"> {{ web.pages }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="onRowSelection(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>